.flex {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex > *:not(:last-child) {
    margin-bottom: 20px;
}

.flex > *:last-child {
    margin-bottom: 0;
}

h1 {
    font-family: "Arial", sans-serif;
    font-size: 26pt;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-family: "Arial", sans-serif;
    font-size: 18pt;
    font-style: italic;
    text-align: center;

    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-family: "Arial", sans-serif;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;

    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}


form {
    display: flex;
    align-items: center;
}

form > *:not(:last-child) {
    margin-right: 10px;
}

form input[type=text] {
    height: 40px;
    min-width: 350px;
    padding: 10px;

    font-size: 14pt;
    border: solid black 1px;
    border-radius: 5px;
}

form input[type=submit] {
    height: 40px;
    width: 80px;

    background-color: rgb(48, 95, 195);
    color: white;
    font-weight: bold;

    border: none;
    border-radius: 5px;

    transition: background-color ease 0.05s;
}

form input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(19, 43, 95)
}

form.error input[type=text] {
    border-color: red;
}

form.error input[type=submit] {
    background-color: red;
}

form.error input[type=submit]:hover {
    background-color: rgb(120, 15, 15);
}



#success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgb(26, 75, 26);
    transform: translateX(-100%);
    transition: transform ease 1s;
}

#success.revealed {
    transform: translateX(0);
}

#success h1, #success h2 {
    color: white;
    text-decoration: none;
}